.header {
    border-bottom: 1px solid #ececec;
    padding: 16px 0;

    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }


&__container {
    display: flex;
    align-items: center;
}

&__logo {

    @media screen and (min-width: 768px) {
        margin-right: 87px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 92px;
    }
    
}

&__logo-color {
    color: #000;
}
}

.contact__list {
    display: none;

    @media screen and (min-width:768px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    }
    
  @media screen and (min-width:1200px) {
    flex-direction: row;
    gap: 30px;
    padding: 32px 0;
  }

}

.contact__link {
@media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--active-color);
        }
    }

      
    }

.contact__icon {
        fill: currentColor;
        margin-right: 8px;
    }

