.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--bg-color-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    padding: 200px 0;
    text-align: center;

&__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color-main);
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

&__button {
    display: inline-block;
    background-color: var(--active-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--bg-color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}
}