.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

&__btn:hover,
&__btn:focus {
    fill: var(--active-color);
}

    &__btn-close:hover,
    &__btn-close:focus {
        fill: var(--active-color);
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }


}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
}

.mobile-menu .link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;

    &.current {
        color: var(--active-color);
    }
}

.mobile-menu-item:not(:last-child),
.mobile-contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contacts-item:first-child {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: var(--active-color);

    @media screen and (max-width: 479px) {
            font-size: 26px;
        }
}

.mobile-contacts-item:last-child {
    margin-bottom: 64px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
}

.mobile-socials {
    display: flex;
    gap: 20px;

    &-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 22px;
    position: absolute;
    background: rgba(33, 33, 33, 0.2);
    transform: translateX(10px);

    @media screen and (max-width: 479px) {
        height: 15px;
    }

    }
}

.mobile-social-link {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--active-color);

        @media screen and (max-width: 479px) {
            font-size: 10px;
        }
    }