.section {
padding-top: 60px;
padding-bottom: 60px;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
} 
}

.section__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    margin-bottom: 30px;

@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
    }
}