h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
}