:root {
    --main-font: "Roboto", Tahoma, sans-serif;
    --secondary-font: "Raleway", Verdana, sans-serif;
    --font-size: 14px;
    --letter-spacing: 0.03em;
    --text-color: #757575;
    --title-color: #212121;
    --active-color: #2196f3;
    --bg-color-main: #fff;
    --bg-color-hero: #2f303a;
    --bg-color-section: #f5f4fa;
    --buttons-color: #f5f4fa;
}